<!DOCTYPE html>
<html>
  <head>
      <title>K-12 School Shootings in the US </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
  </head>
  <body>
    <section id="nav-bar">
      <header>
          <div class="topLOGO">
              <a href="{{ url_for('home') }}">
                  <IMG id = "logo" SRC="{{ url_for('static', filename='images/square_logo.jpg') }}" ALT = "Visualizing and Understanding" WIDTH = 100px HEIGHT = 100px>
              </a>
              <IMG id="highschool" SRC="{{ url_for('static', filename='images/highschool.png') }}" ALT = "Highschool Background" WIDTH = 100% HEIGHT = 100px>
          </div>
          <div class  ="topnav">
              <input type="text" placeholder = "Search...">
              <a href = "{{ url_for('contact') }}"> Contact Us</a>
              <a href = "{{ url_for('home') }}"> About Us</a>
              <a href = "{{ url_for('about') }}"> About the Data</a>
              <a href = "{{ url_for('resultpage') }}"> K-12 DataSet</a>
              <a class ="active" href = "{{ url_for('home') }}"> Home</a>
              <p id= "tagline"> <em>Visualizing and Understanding</em></p>
          </div>
          <div id = "title">
              <h1 style ="color: black"><strong>Comprehensive School Shooting Statistics</strong></h1>
          </div>
    </section>
    <div id="main-content">
          <section id="purpose-site">
            <div class="body-text">
              <h1>Site Purpose</h1>
              <p>The purpose of our side is to provide a navigable source for information of specific or collective school shooting information in the U.S. K-12 public school system in order to recognize patterns in school shootings and promote discussion with the vision of finding possible solutions.</p>
            </div>
          </section>
          <section id="about-us">
            <div class="body-text">
              <h1>About Us</h1>
              <p> We are a team of three college students who want to raise awareness about the increasing problem of gun violence in our country. Since we are students, we wanted to focus on inciting discussion about incidents that occur in educational institutions. Those incidents have a direct impact on us as students. We hope to bring awareness to this information so that our community leaders can make informed decisions on safety regulations to prevent the increasing amount of gun violence.   </p>
            </div>
          </section>
      </div>
      <div id="side-content">
          <aside class="feature-info">
            <h1><strong><u>Featured News Articles</u></strong></h1>
            <h2><Strong> Student commits suicide with gun at Concord's Second Start Alternative High School</strong></h2>
            <p1><em>By Jonathan Phelps</em></p1><br>
            <p2>A 17-year-old student died after he used a gun to commit suicide inside the Second Start Alternative High School Wednesday morning, police said. While there were other students in the 450 North State St. building at the time, no one was injured and they were not near where the suicide took place, Deputy Chief John Thomas said in a news conference Wednesday afternoon. Police were called to the school just before ...</p2>
          </aside>
      </div>
    </section id="footer">
    <footer class = "footer-section">
        <div class ="left-footer">
            <h3> CSSS<span>-GroupK</span> &copy2020</h3>
            <p class="links">
                <a href = "#blogs">  Blogs</a>
                <a href = "#Stories"> Stories</a>
                <a href = "#Other Countries"> Other Countries</a>
            </p>
    </footer>
    <section>
  </body>
</html>
